<%- include('header') %>

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Elements</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
    
      <section class="section">
        <div class="row">
          <div class="col-lg-7">
            <%if(flash.success && flash.success.length>0){%>
              <div class="alert p-2 d-flex text-center px-4 border-success text-success fw-3" style="font-weight: 700; width: fit-content;"><%=flash.success%></div>
            <%}%>
    
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">General Form Elements</h5>
    
                <!-- General Form Elements -->
                <form method="post" action="/set_new_pass">
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-4 col-form-label " >enter current password :-</label>
                    <div class="col-sm-8 ">
                    <input type="text" name="cpass" class="form-control"> 
                    </div>
                   
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-4 col-form-label " >enter new password :-</label>
                    <div class="col-sm-8 ">
                    <input type="text" name="npass" class="form-control"> 
                    </div>
                   
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-4 col-form-label " >confirm password :-</label>
                    <div class="col-sm-8 ">
                    <input type="text" name="copass" class="form-control"> 
                    </div>
                   
                  </div>
                  
    
                  <div class="row mb-3">
                     <div class="col-sm-10">
                      <button type="submit" name="submit" class="btn btn-primary">Submit </button>
                    </div>
                  </div>
    
                </form><!-- End General Form Elements -->
    
              </div>
            </div>
    
          </div>
    
         
        </div>
      </section>
    
    </main><!-- End #main -->
    
    <%- include('footer') %>